
body{
	font-family: 'Arial', 'Helvetica', 'sans-serif';
}
.collapse ul li a{
	height: 70px !important;
	font-size: 25px;
	text-align: center;

	
}
.col-4 {
	text-align: center;
}
.col-4  {background: red;
	height: 121px;
    background: #2a2e33;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    }
.col-4 span{
	text-align: center;
	color : #ffc107;
	line-height: 6.7em;
}
.navite_rankleft{
padding-top: 1em;

}
.text_1{
	float:left;

    
}
.list-group-item {

	border-left: none !important;
	border-right: none !important;
}
footer{
	padding-top: 3em;
	background: #303030;
	color: #fff!important;
	padding-bottom: 1em;
	
}
footer p {

	text-align: left;
}
.app_img{

	width: 9em;
}
.foorter_contas{
	width: 3em;
	padding-left: 0.5em;

}
.contact{

padding-bottom: 1em;
}
.thumbnail-movie{
	padding:1em 0 1em 0;
}
/*.facbook{
	position: fixed;
	z-index: 999999;
	top: 10em;
}*/
.icon-left{
	font-size: 4em;
	position: fixed;
	z-index: 99999;
	right: 0;
	top: 3em;
	color: #4285F4;
}
.icon_phone{
	font-size: 4.4em;
	position: fixed;
	z-index: 99999;
	right: 0;
	top: 4em;
	color: rgb(234, 35, 73);
}
.icon-messenger{
	font-size: 4.4em;
	position: fixed;
	z-index: 99999;
	right: 0;
	bottom: 0;
	color: rgb(0, 132, 255);;
}
.play{

	position: absolute;
	z-index: 999999;
	left: 45%;
	top:40%;
	font-size: 7em !important;
	color: white;
}
.modal-play{
	margin-top: 10em;
}
.card-img-dt{
	margin: 1em 0!important;
}
.card-title-dt{
	margin: 2em 0!important;
}
.star-dt{

	font-size: 1.7em;
}
.Details-dt{
	width: 8em;
}.dt-text-conten{
	margin: 1em 0 !important;
}
/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
 * {
     margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

 a {
 	color: #03658c;
 	text-decoration: none;
 }

ul {
	list-style-type: none;
}

body {
	font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
	background: #dee1e3;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}
body{ background: #fafafa;}
.widget-area.blank {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}
body .no-padding {
padding: 0;
}
.widget-area {
background-color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
float: left;
margin-top: 30px;
padding: 25px 30px;
position: relative;
width: 100%;
}
.status-upload {
background: none repeat scroll 0 0 #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
float: left;
width: 100%;
}
.status-upload form {
float: left;
width: 100%;
}
.status-upload form textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: Lato;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
float: left;
}
.status-upload ul > li > a {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload form button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}
body {
    background-color: #eee
}

.badge {
    font-size: 25px;
    font-weight: 200
}

.badge i {
    font-size: 20px;
    font-weight: 200
}

.about-rating {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px
}

.total-ratings {
    font-size: 12px
}

.bg-custom {
    background-color: #b7dd29 !important
}

.progress {
    margin-top: 10px
}
.STAR{

	margin: 1em 0;
}
.modal-dialog{
	max-width: 70em !important;
}
.name{

	font-size: 1.5em;
    font-family: 'Courier New';
    color: #00d0ff;
}
.fa-bell{

	font-size: 1.5em !important;
    margin: 0 0.5em !important;
    line-height: 2em !important;
}
#star1{
	margin-left: 1em;
}
.carenda{
	margin:1em 1em 1em 0;
	width: 13px;
    font-size: 34px;
    border-bottom: 2px solid #231f20;
    font-family: 'Linux Libertine';
    color: #231f20;
    font-weight: bold;
}
.carenda-number{

}
.col-md-1{

	margin-right: 3em;
}

.monday{
	padding-left: 1.5em;
}
.on{

	height: 40px;
    background-color: red;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 129px;
    padding-right: 5px;
}
.area_zone p{
	    margin-bottom: 2em;
	   
}
.area_zone a{ color: black;}
.on{
	padding: 1em;
}
.area_list li{

	float: left;
    margin: 0 0 8px 5px;
    display: table;
}
.area_list li p{
	overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    width: 129px;
    height: 40px;
    border: 1px solid #efefef;
    background: #efefef;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* line-height: 16px; */
    font-size: 12px;
    color: #666;
    text-align: center;
    letter-spacing: -1px;
}
.add-Hokkaido{
	width: 150px;
    height: 40px;
    background: red;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.ng-scope img{
width: 100px;
height: auto;
margin-right: 1em;

}
.ng-scope p{
	font-size: 18px;
}
.ng-scope i{
	margin: 0 1em;
	font-size: 20px;
}
.theater a{
	padding: 5px 10px;
    display: inline-flex;
    margin: 2em 1px;
    border: 1px solid #ced0da;
    color: #43464b;
}
.ng-scope{
border-bottom: 1px solid #f1f1f1;}
.buttonlistmovie{
	margin: 0 1em 1em 3em;
}
.btn-primary{
	width: 90px;
}
.icon-cart{
	position: fixed;
	z-index: 999999;
	right: 0;
	top: 10em;
}
.left-movie{
	display: none;
}
.cart-container{
	font-size: 2em;
	margin: 1em;
}

.addcart-img{
	width: 190px;
	height: 40px
}
.addcart-title{
	padding-top: 7em;
	text-align: center;

}
.addcart-title strong{
	font-size: 1.6em;
}
.input-group-btn{
	padding-top: 7em;
}.addcart-glyphicon{
padding-top: 7em;
}
.addcart-quantity{
	padding-top: 7em;
}
.addcart-money{
	padding-top: 7em;
}
.addcart-money strong{
	font-size: 2em;
}
.cart{
	margin-top: 1em;
}
.addcart-row{
	margin-bottom:  1em;
}
.click1{
	color: red;
}
.addday{    background: red;
    width: 100%;
    height: 80px;
    border-radius: 100%;
    padding-top: 1.2em;
color: white}
.click2{
	color: lightgray;
}
.textUS{
	font-size: 2em;
    text-transform: uppercase;
    color: #b9a457;
    top: 20em;
}

#myModal{
background: #2d2c2c;
}
.modal-dialog{
	opacity: 1;
}
.fa-bars{
	float: right;
	font-size: 3em;
}

.collapse ul li a{
	font-size: 16px;
	color:  #000;
}
.collapse{
height: 30px;
    line-height: 58px;
}
.top5-lef-img
{position: absolute;}
.top-felt-minimg{
	position: relative;
	width: 50px;
	top: 25px;
    left: 33px;
}

.top1-title{
	position: relative;
    color: white;
    left: 30%;
    bottom: 40px;
    font-size: 1.5em;
}
.messenger{
	position: fixed;
    z-index: 999999999;
    background: white;
    right: 15px;
    top: 5em;
    bottom: 5em;
    width: 325px;
    border-radius: 25px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .15);
    display: none;
}
.messenger-top{
	margin:0;
	padding:0;
	height: 70px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .1);

}
.messenger-top-left img{
	width: 35px;
	margin: 15px;
	float: left;

}
.messenger-top-left p{
	font-size: 10px;
	margin-top: 10px;
	font-weight: 600;
}
.messenger-top-mid{
	float: left;
	padding-right: 2em;
}
.messenger-top-mid-naame0-bt{
	line-height: 25px;
    margin-bottom: 21px;
    margin-top: -10px;
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
}
.messenger-top-mid-name{
	padding-top: 10px;
	font-family: Helvetica, Arial, sans-serif;
}

.messenger-top-right-icon i{
	font-size: 20px;
    width: 30px;
    height: 30px;
    background: red;
    text-align: center;
    border-radius: 100%;
    line-height: 30px;
    margin:1em 0;
    background: #e8e5e5;
    color: ##2d2b2b;
}
.messenger-mid{
	text-align: center;
	margin:10px 0;
	color: rgba(0, 0, 0, .40);
}
.messenger-mid-time{
	color: rgba(0, 0, 0, .40);
	font-size: 10px;
}
.messenger-mid-container p{
	border-radius: 15px;
	margin:0 15px 10px 55px;
	
}
.messenger-mid-us p{
	background: rgb(0, 132, 255);
	color: #ffffff;
	padding: 10px;
}
.messenger-mid-us img {
	float: left;
    margin-left: 25px;
    margin-top: 10px;
    height: 25px;

}
.messenger-mid-ad img {
	float: left;
    margin-left: 25px;
    margin-top: 10px;
    height: 25px;

}
.messenger-mid-ad p{
background: rgb(241, 240, 240);
color: black;
padding: 10px;
}
.messenger-bottom{
	position: absolute;
	bottom: 0;
	margin:2px;display: flex;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    width: 100%;
    height: 55px;
    line-height: 3.3em;
}
.messenger-bottom i{
	margin: 14px;
	font-size: 30px;
	color: rgb(0, 132, 255);
}
.messenger-bottom-form input{
	border-radius: 100px;
	margin:8px 0;
	height: 37px;
}
.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}
.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}
.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}
.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}
















